<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Chirp <%= @user.name %>,</h1>
    <p>Chirp chirp chirp chirp chirp. Chirp, CHIRP. CHIRP....Chirp.....chirp</p>
    <p>Chirp,</p>
    <p>Chirpy McChirpface</p>
  </body>
</html>
