<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>,</h1>
    <p>Does it always feel like, somebody's following you?</p>
    <p>That's because <%= @follower.name %> is.</p>
    <p>Here's what they look like:</p>
    <%= image_tag @follower.userpic %>
    <p>
    <p>Have a nice day.</p>



    <p>Chirp,</p>
    <p>Chirpy McChirpface</p>
  </body>
</html>
